<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

mvcindex</h2>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	mvcindex
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <h2>
</asp:Content>
